<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/img/datPer.png">
    <title>Acerca de mi</title>
</head>
<body>
    <div id="container">
        <aside id="izq">
            <header>
                <div id="foto">
                    
                </div>
            </header>
            <div id="icon">
               <button class="bicons" onclick="fondo();"><img src="../img/cambio.png" alt="cambio"  class="icons"></button>
               <button class="bicons" onclick="info('correo');"><img src="../img/correo.png" alt="correo"  class="icons"></button>
               <button class="bicons" onclick="info('datos');"><img src="../img/datPer.png" alt="datos personales" class="icons"></button>
               <button class="bicons" onclick="info('celular');"><img src="../img/celular.png" alt="celular" class="icons"></button>
            </div>
            <main>
                <div id="frase" >
                   <p class='datPer'> 
                    La vida es una obra de teatro que no permite ensayos…
                    Por eso, canta, ríe, baila, llora y vive intensamente cada momento de tu vida…
                    Antes que el telón baje y la obra termine sin aplausos.
                   </p>
                </div>
            </main>
            
        </aside>
        <aside id="der">
           <div id="opciones">
              <img src="../img/deportes.png" alt="deportes" class="cardAc" onmouseover="aboutMe('deporte');">
              <img src="../img/lecturas.png" alt="lectura" class="cardAc" onmouseover="aboutMe('lectura');">
              <img src="../img/videos.png" alt="videos" class="cardAc" onmouseover="aboutMe('videos');">
              <img src="../img/comida.png" alt="comida" class="cardAc" onmouseover="aboutMe('viaComi');">
              <img src="../img/otros.png" alt="otros" class="cardAc" onmouseover="aboutMe('otros');">
              <a href="/cv"><img src="/img/cv.png" alt="volver" class="cardAc"></a>
           </div>
        </aside>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/javascript.js"></script>
</body>
</html>