<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/img/datPer.png">
    <title>Estudios</title>
</head>
<body>
    <div id="container">
        <aside id="izq">
            <header>
                <div id="foto">
                    
                </div>
            </header>
            <div id="icon">
               <button class="bicons" onclick="fondo();"><img src="../img/cambio.png" alt="cambio"  class="icons"></button>
               <button class="bicons" onclick="info('correo');"><img src="../img/correo.png" alt="correo"  class="icons"></button>
               <button class="bicons" onclick="info('datos');"><img src="../img/datPer.png" alt="datos personales" class="icons"></button>
               <button class="bicons" onclick="info('celular');"><img src="../img/celular.png" alt="celular" class="icons"></button>
            </div>
            <main>
                <div id="frase" >
                   <p class='datPer'> 
                    La educación ayuda a la persona a aprender a ser lo que es capaz de ser
                   </p>
                </div>
            </main>
            
        </aside>
        <aside id="der">
           <div id="opciones">
               <div id="estudio">
                   <p id="perProf"><strong>Perfil Profesional</strong></p>
                   <div class="textPer">
                        Ingeniero Electrónico con habilidades de liderazgo y trabajo en equipo.  
                        Formación basada en valores como: Ética, Responsabilidad, Cumplimiento y Respeto.
                        Adicionalmente, ordenado y diligente con cada actividad a realizar buscando siempre los mejores resultados.  
                        Además poseo énfasis en telecomunicaciones, sistemas de potencia, micro controlador, programación, DSP, 
                        control, electrónica básica, bioingeniería y electricidad.  
                    </div>  
                    <p id="univ"><strong>Universitarios</strong> </p>
                    <div class="textPer">
                        Ingeniera Electrónica <br>  
                        Universidad Distrital  Francisco José de Caldas <br>
                        Bogotá, 2016                            
                    </div>  
                    <p id="secun"><strong>Secundarios</strong></p>
                    <div class="textPer">
                        Bachiller Académico <br>
                        Colegio Colombo Sueco  <br> 
                        Bogotá, 2005
                    </div>   
                    <p id="prim"><strong>Primarios</strong></p>  
                    <div class="textPer">
                        Bachiller Académico  <br>
                        Colegio Colombo Sueco  <br>
                        Bogotá, 1999.  
                    </div>    
                    <p id="otrosCur"><strong>Otros Cursos</strong></p> 
                    <div class="textPer">
                        Diplomado en CCNA  ( EUD)		                    2019<br>
                        Curso sede Bictia (html,css,js,Scrum,git).	2020<br>
                        Curso FullStack (JavaScript ,php ,sql , Mongo, Node, Angular)     2020<br>
                    </div>   
               </div>
              
              <a href="/cv"><img src="/img/cv.png" alt="volver" class="cardAc"></a>
           </div>
        </aside>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/javascript.js"></script>
</body>
</html>