<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/img/datPer.png">
    <title>Trabajos realizados</title>
</head>
<body>
    <div id="container">
        <aside id="izq">
            <header>
                <div id="foto">
                    
                </div>
            </header>
            <div id="icon">
               <button class="bicons" onclick="fondo();"><img src="../img/cambio.png" alt="cambio"  class="icons"></button>
               <button class="bicons" onclick="info('correo');"><img src="../img/correo.png" alt="correo"  class="icons"></button>
               <button class="bicons" onclick="info('datos');"><img src="../img/datPer.png" alt="datos personales" class="icons"></button>
               <button class="bicons" onclick="info('celular');"><img src="../img/celular.png" alt="celular" class="icons"></button>
            </div>
            <main>
                <div id="frase" >
                   <p class='datPer'> 
                    La experiencia no es lo que te sucede, sino lo que haces con lo que te sucede
                   </p>
                </div>
            </main>
            
        </aside>
        <aside id="der">
           <div id="opciones">
              <div id="pagweb">
                    
              </div>
              <div id="tituloWeb"> Libreria </div>
              <a href="/cv"><img src="/img/cv.png" alt="volver" class="cardAc"></a>
           </div>
        </aside>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/javascriptwork.js"></script>
</body>
</html>